In [1]:
import pandas as pd

In [36]:
df=pd.read_csv('record.csv')
df

,jadwal_konsumsi,jam_konsumsi,nama,nama_obat,telat,__key__,__error__,__has_error__
0,2022-06-25T02:00:00Z,2022-06-26T08:03:20.077Z,IbuC,Metformin,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
1,2022-06-25T05:00:00Z,2022-06-26T08:03:20.740Z,IbuC,Metformin,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
2,2022-06-25T08:00:00Z,2022-06-26T08:03:21.245Z,IbuC,Metformin,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
3,2022-06-26T02:00:00Z,2022-06-26T08:03:21.729Z,IbuC,Metformin,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
4,2022-06-26T05:00:00Z,2022-06-26T08:03:22.179Z,IbuC,Metformin,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
...,...,...,...,...,...,...,...,...
154,2022-08-18T11:00:00Z,2022-08-18T12:16:16.657Z,SETYONO YOHANES,Fenofibrat 300 mg,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
155,2022-07-20T11:00:00Z,2022-07-20T12:09:14.212Z,SETYONO YOHANES,Fenofibrat 300 mg,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
156,2022-08-27T11:00:00Z,2022-08-27T12:12:54.698Z,SETYONO YOHANES,Fenofibrat 300 mg,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
157,2022-08-15T11:00:00Z,2022-08-15T12:05:30.726Z,SETYONO YOHANES,Fenofibrat 300 mg,True,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False
158,2022-07-17T23:00:00Z,2022-07-17T23:49:29.569Z,Yulia Betty Murias,Amlodipin 5,False,"{\n ""__key__"": {\n ""namespace"": """",\n ""...",[],False

In [37]:
df=df[['jadwal_konsumsi','jam_konsumsi','nama','nama_obat','telat']]
df

,jadwal_konsumsi,jam_konsumsi,nama,nama_obat,telat
0,2022-06-25T02:00:00Z,2022-06-26T08:03:20.077Z,IbuC,Metformin,True
1,2022-06-25T05:00:00Z,2022-06-26T08:03:20.740Z,IbuC,Metformin,True
2,2022-06-25T08:00:00Z,2022-06-26T08:03:21.245Z,IbuC,Metformin,True
3,2022-06-26T02:00:00Z,2022-06-26T08:03:21.729Z,IbuC,Metformin,True
4,2022-06-26T05:00:00Z,2022-06-26T08:03:22.179Z,IbuC,Metformin,True
...,...,...,...,...,...
154,2022-08-18T11:00:00Z,2022-08-18T12:16:16.657Z,SETYONO YOHANES,Fenofibrat 300 mg,True
155,2022-07-20T11:00:00Z,2022-07-20T12:09:14.212Z,SETYONO YOHANES,Fenofibrat 300 mg,True
156,2022-08-27T11:00:00Z,2022-08-27T12:12:54.698Z,SETYONO YOHANES,Fenofibrat 300 mg,True
157,2022-08-15T11:00:00Z,2022-08-15T12:05:30.726Z,SETYONO YOHANES,Fenofibrat 300 mg,True
158,2022-07-17T23:00:00Z,2022-07-17T23:49:29.569Z,Yulia Betty Murias,Amlodipin 5,False

In [38]:
nama=df['nama'].unique()
nama=nama[2:]
nama

array(['ETTY ASTUTI', 'SETYONO YOHANES', 'Yulia Betty Murias'],
      dtype=object)

In [42]:
for index,row in df.iterrows():
    if row['nama'] not in nama:
        
df

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"